body{
  margin: 0;
}
.wrapper{
  text-align: center;
}
.images{
  display: flex;
  align-items: flex-start;
  transition: all 0.5s;
}
.images > img{
  vertical-align: top;
}
.window{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
.red{
  color: red;
}
#buttons{
  font-size: 2em;
}